@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  body {
    background-color: #d9d9d9;
  }
}

.nav-link-active {
  background-color: #efebff;
  padding: 11px 27px;
  border-radius: 8px;
}

/* Define your transition styles */
.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 300ms,
    transform 300ms;
}

.dots-7 {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #633cff 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: d7 1s infinite linear;
}
@keyframes d7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}
