@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link-active {
  background-color: #efebff;
  padding: 11px 27px;
  border-radius: 8px;
}

/* Define your transition styles */
.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 300ms,
    transform 300ms;
}
